{% extends "base.html.twig" %}
{% form_theme contactForm "bootstrap_4_layout.html.twig" %}

{% block title %}AppBundle:Contact:create{% endblock %}

{% block body %}
    <h2>Ajouter un contact</h2>
    {{ form_start(contactForm, {'attr': {'novalidate': 'novalidate'}}) }} {# <form> #}
        {{ form_row(contactForm.prenom) }}
        {#<div class="form-group">
            {{ form_label(contactForm.prenom) }}
            {{ form_widget(contactForm.prenom, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(contactForm.prenom) }}
        </div>#}
        {{ form_row(contactForm.nom) }}
        {{ form_row(contactForm.city) }}
        <button class="btn btn-primary">Ajouter</button>
    {{ form_end(contactForm) }} {# </form> #}
{% endblock %}

{#
{% block stylesheets %}
    {{ parent() }}
    <style>
        label {
            display: block;
        }
    </style>
{% endblock %}
#}