{% extends "base.html.twig" %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
    <h2>Liste des contacts</h2>
    <table class="table table-bordered">
        <tbody>
        {% for c in contacts %}
            <tr>
                <td>{{ c.prenom }} {{ c.nom | upper }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_contact_show', {'id': c.id}) }}">Afficher</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('app_contact_update', {'id': c.id}) }}">Modifier</a>
                    <a class="btn btn-sm btn-danger" href="{{ path('app_contact_delete', {'id': c.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr><td>Pas de contacts</td></tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contact_create') }}">Ajouter un contact</a>
{% endblock %}

